.role-container{
  @include outer-container;
}

.browse-column{
  @include span-columns(4);
  @include form_box;
}
.display-searchbox{
  height: 17em;
  overflow: auto;
  @include form_box;
  padding: 0px;
}
.display-search ul {
  text-decoration: none;
  list-style: none;
  padding-left:0;
}
.display-search li {
  padding-left: 2em;
}
.display-search li:nth-child(even) {
  background-color: $lightest-accent-color_1;
}
.details {
  @include span-columns(4);
  @include form-box;
}
.postItem-column {
  @include span-columns(4);
  @include form-box;
}
.tiny-btn {
  padding: 0.25em;
}
