header {
  @include outer-container;
  background-color: $lighter-accent-color_1;
  padding: 2em;
}

.header--logo {
  @include span-columns(8);
  padding-left: 1em;
  background-color:$lighter-accent-color_1;
}

.header--login {
  @include span-columns(4);
  margin-top: 1.5%;
  font-family: $headers-font-family;
  font-size: 16px;
  text-transform: uppercase;
  color: $light-color;
  text-align: right;
  &:hover {
    color:$accent-color_2;
  }
}

// .wrapper{
//   @include outer-container;
//   min-height: 100%;
//   position: relative;
// }

footer {
  @include span-columns(12);
  // position: absolute;
  // bottom: 0;
  // left: 0;
  background-color: $lighter-accent-color_1;
  color: $light-color;
  font-family: $paragraph-font-family;
  text-align: center;
  font-size: 0.75em;
  margin-top: 2.5em;
  padding: 2em 4em;
}
