header {
  @include outer-container;
  background-color: $lighter-accent-color_1;
  padding: 2em 0.5em;
}

.header--logo {
  @include span-columns(8);
  padding-left: 1em;
  background-color:$lighter-accent-color_1;
}

.header--login {
  @include span-columns(4);
  color: white;
  text-align: right;
}
body {
  background-color: $light-color;
}
footer {
  @include outer-container;
  background-color: blue;
  font-size: 0.75em;
  margin-top: 2.5em;
  padding: 2em 4em;
}
