<!-- template page for nonprofit role -->

<div class="role-container" data-ng-controller="nonprofit-controller" >
  <h1> Welcome to the Non-profit Portal </h1>
  <p>On this page, you can search surplus donors' available donations. You can also see whether that donation has already been matched with a shipper -- you may just need claim the item!</p>
  <p>You can also post your current needs and we will try to find a surplus donor to supply it and a shipper willing to deliver it.</p>
  <div class="browse-column">
    <h3>Search Available Donations</h3>
    <label for="search-item" >Search donated items:
    <input name="search-item" type="text" placeholder="Item" required data-ng-model="searchReq.itemNeeded"></label>

    <label for="search-location" >Search by destination location:
    <input name="search-location" type="text" placeholder="Country" data-ng-model="searchReq.destCountry"></label>

    <button ng-click="searchNonprofit(searchReq)">Search</button>

    <div class="display-search">
      <h3>Search results</h3>
      <div class="display-searchbox">
        <ul>
          <li data-ng-repeat="item in results"> {{ item.itemName }} <button ng-click="$parent.current=$index" class="tiny-btn">Info</button></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="details">
    <h3>Item Details</h3>
      <div data-ng-repeat="item in results" ng-if="$index==$parent.current">
          <h4>{{ item.itemName}} donated by {{item.surplusOrg}}</h4>
          <p>Shipper: {{item.shipmentOrg}} </p>
          <p>Description: {{ item.itemDesc }}</p>
      </div>
    <button>Claim</button>
  </div>

  <div class="postItem-column">
    <h3>Post a Need</h3>
    <form>
      <label for="nonprofit-item" >Item needed:
      <input name="nonprofit-item" type="text" placeholder="Required" required data-ng-model="nonprofit.itemNeeded"></label>

      <label for="nonprofit-description" >Description:
      <input name="nonprofit-description" type="text" placeholder="Required" required data-ng-model="nonprofit.description"></label>

      <label for="nonprofit-country" >Destination country:
      <input name="nonprofit-country" type="text" placeholder="Required" required data-ng-model="nonprofit.destCountry"></label>

      <button ng-click="postItem(nonprofit)">Post</button>
    </form>
  </div>

</div>
