<!-- template page for shipper role -->

<div class="role-container" data-ng-controller="shipper-controller" >
  <h1> Welcome Shipper! </h1>

  <div class="browse-column">
    <h2>Search wish lists</h2>
    <label for="search-origin" >Search origin location:
    <input name="search-origin" type="text" placeholder="Country" required data-ng-model="searchReq.origin"></label>

    <label for="search-destination" >Search destination location:
    <input name="search-destination" type="text" placeholder="Country" data-ng-model="searchReq.destination"></label>

    <button ng-click="searchShipper(searchReq)">Search</button>

    <div class="display-search">
      <h3>Search results</h3>
      <div class="display-searchbox">
        <ul>
          <li data-ng-repeat="item in results"> {{ item.route }} <button ng-click="$parent.current=$index">More info</button></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="details">
    <h2>Details</h2>
      <div data-ng-repeat="item in results" ng-if="$index==$parent.current">
          {{ item.details }} <!--placeholder-->
      </div>
    <button>Select</button>
  </div>

  <div class="postItem-column">
    <h2>Donating a shipping route</h2>
    <form>
      <label for="shipper-origin" >Pickup country:
      <input name="shipper-origin" type="text" data-ng-model="shipper.originCountry"></label>

      <label for="shipper-destination" >Destination country:
      <input name="shipper-destination" type="text" data-ng-model="shipper.destCountry"></label>

      <label for="shipper-date" >Date available:
      <input name="shipper-date" type="date"  min="2015-07-31" max="2030-12-31" data-ng-model="shipper.dateAvailable"></label>

      <button ng-click="postItem(shipper)">Post</button>



    </form>
  </div>

</div>
