<link rel="stylesheet" href="../../dev/CSS/application.css">


<!-- template page for surplus role -->

<div class="surplus-container">
  <div class="browse-column">
    <h2>Search Charities' wish lists</h2>
    <label for="search-item" >Search wish lists:
    <input name="search-item" type="text" placeholder="Item" required></label>

    <!--<label for="search-location" >Search by pickup location:-->
    <!--<input name="search-location" type="text" placeholder="Location"></label>-->
    <select name="location">
      <option value="None selected">Select pickup location (optional):</option>
      <option value="mog-som">New York, USA</option>
      <option value="Albania">Los Angeles, USA</option>
    </select>
    <button>Search</button>

    <div class="display-search">
      <h2>Search results</h2>
      <div class="display-searchbox">
        Box o' search results
        Girl refrigerator computer 8-bit military-grade geodesic tube silent voodoo god table Tokyo denim alcohol. Semiotics A.I. Shibuya sign computer neural silent-ware DIY drugs footage augmented reality meta-cardboard. Drugs uplink jeans alcohol Legba Tokyo long-chain hydrocarbons silent motion 3D-printed vehicle construct ablative sentient j-pop.
        Paranoid into pistol shanty town stimulate hotdog gang garage boat advert render-farm knife assault dolphin tower crypto. Corporation weathered RAF-space dissident man order-flow industrial grade meta-gang drugs into garage boat math. Fetishism 8-bit drugs skyscraper towards pre-sub-orbital convenience store neural grenade long-chain hydrocarbons car neon claymore mine. Rain military-grade math-wonton soup convenience store footage cyber-katana table.
      </div>
    </div>
  </div>

  <div class="details">
    details - I will display corresponding details for the selected item.
    <button>Select</button>
  </div>
  <div class="surplus-post">
    surplus post - I am the form for posting a donation.
    <form>
      <label for="surplus-item" >Item to donate:
      <input name="surplus-item" type="text" placeholder="Required" required></label>

      <label for="surplus-quantity" >Quantity:
      <input name="surplus-quantity" type="number" min="1" placeholder="Required" required></label>

      <label for="surplus-description" >Description:
      <input name="surplus-description" type="text" placeholder="Required" required></label>

      <label for="surplus-city" >Pickup city:
      <input name="surplus-city" type="text"></label>

      <label for="surplus-country" >Pickup country:
      <input name="surplus-country" type="text" placeholder="Required" required></label>

      <label for="surplus-expire" >Expiration Date:
      <input name="surplus-expire" type="date" placeholder="Required" required></label>

    </form>
  </div>

</div>
