<!-- template page for surplus role -->

<div class="role-container" data-ng-controller="surplus-controller" >
  <div class="browse-column">
    <h2>Search Non-profit's wish lists</h2>
    <label for="search-item" >Search wish lists:
    <input name="search-item" type="text" placeholder="Item" required></label>

    <label for="search-location" >Search by pickup location:
    <input name="search-location" type="text" placeholder="Country"></label>

    <button>Search</button>

    <div class="display-search">
      <h3>Search results</h3>
      <div class="display-searchbox">
        Box o' search results
        Girl refrigerator computer 8-bit military-grade geodesic tube silent voodoo god table Tokyo denim alcohol. Semiotics A.I. Shibuya sign computer neural silent-ware DIY drugs footage augmented reality meta-cardboard. Drugs uplink jeans alcohol Legba Tokyo long-chain hydrocarbons silent motion 3D-printed vehicle construct ablative sentient j-pop.
        Paranoid into pistol shanty town stimulate hotdog gang garage boat advert render-farm knife assault dolphin tower crypto. Corporation weathered RAF-space dissident man order-flow industrial grade meta-gang drugs into garage boat math. Fetishism 8-bit drugs skyscraper towards pre-sub-orbital convenience store neural grenade long-chain hydrocarbons car neon claymore mine. Rain military-grade math-wonton soup convenience store footage cyber-katana table.
      </div>
    </div>
  </div>

  <div class="details">
    <h2>Item Details</h2>
    <p>
    Corrupted plastic rebar drugs 3D-printed into dolphin car receding smart-neural dissident. Semiotics physical free-market cyber-rebar nano-RAF dead San Francisco soul-delay corporation franchise euro-pop Shibuya. Knife Kowloon courier bomb 8-bit katana wristwatch plastic m advert tank-traps table dome semiotics free-market futurity into drone paranoid.</p>
    <button>Select</button>
  </div>

  <div class="postItem-column">
    <h2>Post a Donation</h2>
    <form>
      <label for="surplus-item" >Item to donate:
      <input name="surplus-item" type="text" placeholder="Required" required data-ng-model="surplus.itemName"></label>

      <label for="surplus-description" >Description:
      <input name="surplus-description" type="text" placeholder="Required" data-ng-model="surplus.description"></label>

      <label for="surplus-country" >Pickup country:
      <input name="surplus-country" type="text" placeholder="Required" required data-ng-model="surplus.originCountry"></label>

      <label for="surplus-expire" >Expiration Date:
      <input name="surplus-expire" type="date" placeholder="Required"
      min="2015-07-31" max="2030-12-31" required data-ng-model="surplus.dateExpires"></label>

      <button ng-click="submitForm(surplus)">Post</button>



    </form>
  </div>

</div>
