<!-- template page for surplus role -->

<div class="role-container" data-ng-controller="surplus-controller" >
  <h1> Welcome to the Surplus Donors Portal </h1>
  <p>On this page, you can search non-profits' wish lists to see what needs have been posted. You can also see whether that need has already been matched with a shipper -- they may just need you to supply the item!</p>
  <p>You can also post items you are ready to donate and we will find a non-profit who needs it and a shipper willing to deliver it.</p>

  <div class="browse-column">
    <h3>Non-profit's Wish Lists</h3>
    <label for="search-item" >Search wish lists:
    <input name="search-item" type="text" placeholder="Item" required data-ng-model="searchReq.item"></label>

    <label for="search-location" >Search by pickup location:
    <input name="search-location" type="text" placeholder="Country" data-ng-model="searchReq.location"></label>

    <button ng-click="searchSurplus(searchReq)">Search</button>

    <div class="display-search">
      <h3>Search results</h3>
      <div class="display-searchbox">
        <ul>
          <li data-ng-repeat="item in results"> {{ item.nonprofitItem }} <button ng-click="$parent.current=$index">Details</button></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="details">
    <h3>Details</h3>
      <div data-ng-repeat="item in results" ng-if="$index==$parent.current">
          <h4>{{ item.nonprofitItem }} needed by {{item.nonprofitOrg}}</h4>
          <p>Shipper: {{item.shipmentOrg}} </p>
          <p>Description: {{ item.nonprofDesc }}</p>
      </div>
    <button>Claim</button>
  </div>

  <div class="postItem-column">
    <h3>Post a Donation</h3>
    <form>
      <label for="surplus-item" >Item to donate:
      <input name="surplus-item" type="text" placeholder="Required" required data-ng-model="surplus.itemName"></label>

      <label for="surplus-description">Description:<textarea name="surplus-description" type="text" placeholder="Required" data-ng-model="surplus.description"></textarea></label>

      <label for="surplus-country" >Pickup country:
      <br><input name="surplus-country" type="text" placeholder="Required" required data-ng-model="surplus.originCountry"></label>

      <label for="surplus-expire" >Expiration Date:
      <br><input name="surplus-expire" type="date" placeholder="Required"
      min="2015-07-31" max="2030-12-31" required data-ng-model="surplus.dateExpires"></label>

      <button ng-click="postItem(surplus)">Post</button>

    </form>
  </div>

</div>
