<!-- <link rel="stylesheet" href="../../dev/CSS/application.css">
 -->

<div data-ng-controller="user-controller" class="flex-container__login">
  <form class="account-form" id="signup-form">
    <h4>Sign Up</h4>

    <label for="new-organization-input">Organization</label>
    <input type="text" id="organization" name="new-organization-input" required autocomplete="off" />

    <select name="new-role-input" required>
      <option value="None selected">Role</option>
      <option value="Surplus">Surplus Donor</option>
      <option value="Shipper">Shipping Donor</option>
      <option value="Charity">Charity</option>
    </select>


    <label for="new-email-input">Email Address</label>
    <input type="email" id="new-email" name="new-email-input" required autocomplete="off" />

     <label for="new-username">Username</label>
    <input type="text" id="new-username" name="new-username" required autocomplete="off" />

    <label for="new-password">Set Password</label>
    <input type="password" id="new-password" name="new-password" required autocomplete="off" />
    <br>

    <button type="submit" id="registerButton" ng-click="submitForm">Register</button>
  </form>

  <form class="account-form" id="login-form">
    <h4>Welcome Back!</h4>

    <label for="login-email">Email Address</label>
    <input type="email" id="login-email" name="login-email" required autocomplete="off" />

    <label for="login-password">Password</label>
    <input type="password" id="login-password" name="login-password" required autocomplete="off" />

    <button id="loginButton">Log In</button>
  </form>
</div>
