html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: #78726b;
  padding: 2em 0.5em; }
  header::after {
    clear: both;
    content: "";
    display: table; }

.header--logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  padding-left: 1em;
  background-color: #78726b; }
  .header--logo:last-child {
    margin-right: 0; }

.header--login {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  color: white;
  text-align: right; }
  .header--login:last-child {
    margin-right: 0; }

body {
  background-color: #e1e0de; }

footer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
  font-size: 0.75em;
  margin-top: 2.5em;
  padding: 2em 4em; }
  footer::after {
    clear: both;
    content: "";
    display: table; }

.hero_image {
  background-image: url("../Resources/herokids.jpg");
  width: 100%;
  border-width: 4em; }
